smithy-states-language/src/test/resources/software/amazon/smithy/stateslanguage/converter/fromsmithy/StatesLanguageConverter/multiple/parallelState.asl.json
{
    "StartAt": "State",
    "States": {
        "State": {
            "Type": "Parallel",
            "Comment": "COMMENT",
            "InputPath": "$",
            "OutputPath": "$",
            "Next": "NextState",
            "ResultPath": "$",
            "Parameters": {
                "x": 3,
                "y": 2
            },
            "ResultSelector": {
                "selected": "selected"
            },
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 2,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.2
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "NextTestState",
                    "ResultPath": "$"
                }
            ],
            "Branches": [
                {
                    "States": {
                        "TerminalState": {
                            "Type": "Succeed"
                        }
                    },
                    "StartAt": "TerminalState"
                }
            ]
        },
        "NextState": {
            "Type": "Parallel",
            "End": true,
            "Branches": [
                {
                    "States": {
                        "TerminalState": {
                            "Type": "Succeed"
                        }
                    },
                    "StartAt": "TerminalState"
                }
            ]
        }
    }
}
